<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="myApp">
        <h1>表单单选按钮</h1>
        <h3>选择性别</h3>
        <input type="radio" id="male" value="男" v-model="pickSex">
        <label for="male">男</label>
        <br>
        <input type="radio" id="female" value="女" v-model="pickSex">
        <label for="female">女</label>
        <h3>选择爱好</h3>
        <input type="radio" id="game" value="游戏" v-model="pickHobby">
        <label for="game">游戏</label>
        <br>
        <input type="radio" id="movie" value="电影" v-model="pickHobby">
        <label for="movie">看电影</label>
        <h3>选择结果</h3>
        <p>性别：{{pickSex}}</p>
        <p>爱好：{{pickHobby}}</p>
    </div>
    <script>
        var myApp = new Vue({
            el: '#myApp',
            data: {
                pickSex: "",
                pickHobby: "",
            }
        })
    </script>
</body>

</html>